{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>ByBit Trading App</h1>
    <p>ByBit USDT-Perpetual Trading based on TradingView alerts.</p>
    <a type="button" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-flash"></span> Account Balance</a>
    <a type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-download"></span> Trades</a>
  </div>
</div>
<div class="container">
  <hr>
</div>
{% endblock %}
