{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h3>ByBit USDT Perpetual Trading</h3>
    <p>Symbol: {{ order_data.symbol }}, Price: {{ order_data.price }}</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Account Balance</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> View Logs</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
</div>
{% endblock %}
